
docker {
	enabled = true
}

process {

	withName: sraToFastqZip {
		container = "evolbioinfo/sratoolkit:v2.10.8"
		cpus = 1
		}

	withName: indexGen {
		container = "evolbioinfo/star:v2.7.6a"
		cpus = 8
		}

	withName: mapping_Fastq {
		container = "evolbioinfo/star:v2.7.6a"
		cpus = 4
		memory = 40.GB
		}

	withName: indexBam {
		container = "evolbioinfo/samtools:v1.11"
		}

	withName: getCountReads_feature {
		container = "evolbioinfo/subread:v2.0.1"
		}
	}
