
docker {
enabled = true
}
report {
enabled = true
file = 'reports/report.html'
}

trace {

enabled = true
file = 'reports/trace.txt'
}

timeline {
enabled = true
file = 'reports/timeline.html'
}

dag {
enabled = true
file = 'reports/dag.dot'
}

process {

    withName: indexGen {
        container = "docker://evolbioinfo/star:v2.7.6a"
        cpus = 16
        memory = 62.GB
    }

    withName: mapping_Fastq {
        container = "docker://evolbioinfo/star:v2.7.6a"
        cpus = 16
	memory = 62.GB
    }
 
    withName: samFastq {
        container = "docker://evolbioinfo/samtools:v1.11"
    }
    
    withName: getCountReads_feature {
        container = "docker://evolbioinfo/subread:v2.0.1"
    }
